<!-- Define the document type and language -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Set the character set and viewport for responsiveness -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Link to the external stylesheet for styling -->
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/css/deleteConfirmation.js"></script>
</head>

<body>
  <!-- Container for workout data -->
  <div class="exercise-data">
    <br>

    <!-- Heading for the workout tracker application -->
    <h1 class="nav-header">ZIK Workout Tracker</h1>
    <br>

    <!-- Button to navigate to the page for adding a new workout -->
    <div class="button-container">
      <button class="exercises-button" onclick="window.location.href='/exercises/new'">Add New Workout</button>
    </div>
    <!-- Table to display workout data -->
    <table>
      <!-- Table header -->
      <thead>
        <tr>
          <th>Workout</th>
          <th>Time</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Description</th>
          <th>Muscle Group</th>
          <th>Action</th>
        </tr>
      </thead>

      <!-- Table body for displaying workout data -->
      <tbody>
        <% for (let count = 0; count < Workoutlist.length; count++) { %>
          <!-- Loop through each workout in the list and create a table row for each -->
          <tr>
            <!-- Display workout details in each table cell -->
            <td><%= Workoutlist[count].workout %></td>
            <td><%= Workoutlist[count].time %></td>
            <td><%= Workoutlist[count].reps %></td>
            <td><%= Workoutlist[count].sets %></td>
            <td><%= Workoutlist[count].description %></td>
            <td><%= Workoutlist[count].category %></td>
            <td>
              <!-- Edit button that redirects to the edit page with workout ID -->
              <button class="exercises-button" onclick="window.location.href='/exercises/edit/<%= Workoutlist[count]._id %>'">Edit</button>
              <!-- Delete button that triggers a JavaScript function to confirm and delete the workout -->
              <button onclick="confirmDelete('<%= Workoutlist[count]._id %>')">Delete</button>
            </td>
        <% } %>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
<<<<<<< HEAD
  <script src="../public/css/deleteConfirmation.js"></script>
  
=======
>>>>>>> 8e40f340fbf920487eb59670612c42f7057fdd54
</body>

</html>