<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <div class ="exercise-data">
    <br>
    <h1 class="nav-header">ZIK Workout Tracker</h1>
    <table>
      <thead>
        <tr>
          <th>Workout</th>
          <th>Time</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Description</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <% for (let count = 0; count < Workoutlist.length; count++) { %>
          <!-- Add your workout data rows here -->
          <tr>
           <td><%= Workoutlist[count].workout %></td>
           <td><%= Workoutlist[count].time %></td>
           <td><%= Workoutlist[count].reps %></td>
           <td><%= Workoutlist[count].sets %></td>
           <td><%= Workoutlist[count].description %></td>
           <td><%= Workoutlist[count].category %></td>
          </tr>
          <% } %>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
    </div>
</body>
</html>
